extends layout
include mixins/curveChart
include mixins/candleChart
include mixins/vixtable
include mixins/vxContracts
include mixins/rvolchart
include mixins/spxcurveChart
include mixins/vx30roll
include mixins/premiumChart
include mixins/decileChart
include mixins/scatterChart
include mixins/histogramChart

block content
    script.
        var data = !{JSON.stringify(data)};

    .container
        div(class="container")
            div(class="row row-cols-1")
                div(class="col")
                    script(src="https://code.highcharts.com/highcharts.js")
                    script(src="https://code.highcharts.com/stock/modules/stock.js")
                    script(src="https://code.highcharts.com/modules/histogram-bellcurve.js")
                    div#vixCurve
                    +curveChart('#vixCurve', 'data.names', 'data.prices')
                div(class="col")
                    +vxcontracts(data.vxFuturesData)
                div(class="col")
                    +vixtable(data.latest)
                div(class="col")
                    +vx30roll(data.vx30Roll)
                div(class="col") 
                    div#spxivol
                    +spxcurveChart('#spxivol', 'data.spxIVols')
                div(class="col")
                    div#premium
                    +premiumChart('#premium', 'data.historical', 'data.latest.premium_zscore')
                div(class="col")
                    div#vixnextday
                    +decileChart('#vixnextday', 'data.vixHistograms.nextday', 'Next Day ^SHORTVOL Returns By Slope', 'data.vixHistograms.current_nextday')
                div(class="col")
                    div#vixcarry
                    +scatterChart('#vixcarry', 'data.vixHistograms.histogram', "Log(VX30/VIX) for VIX Decile", 'data.vixHistograms.current_histogram')
                div(class="col")
                    div#vixcarryhisto
                    +histogramChart('#vixcarryhisto', 'data.vixHistograms.filtered_vix_hist', 'data.vixHistograms.filtered_vix_bins', "log(VX30/VIX) for Current Vix Level", 'data.vixHistograms.current_slope')
                div(class="col")
                    div#vx30Chart
                    +candleChart('#vx30Chart', 'data.vx30Chart', 'VX30 Price', 'VX30', '[]', '[]')
                div(class="col")
                    div#vixChart
                    +candleChart('#vixChart', 'data.vixChart', 'VIX Price', 'VIX', 'data.buyVix', 'data.sellVix')
                div(class="col")
                    div#rvol
                    +rvolChart('#rvol', 'Realized SPX Vol', 'data.rvol.d30.slice(-300)')
                div(class="col")
                    div#vrp
                    +rvolChart('#vrp', '30 Day VRP ZScore', 'data.vrp.d30Zscore.slice(-300)')
                div(class="col")
                    div#ivts
                    +rvolChart('#ivts', 'VIX/VIX3M', 'data.vixBasis.ivts.slice(-300)')
                div(class="col")
                    div#vvol
                    +rvolChart('#vvol', 'VVOL 60 Day', 'data.vixBasis.vvol.slice(-300)')
