extends layout
include mixins/vxcontracttable

block content
    script.
        var data = !{JSON.stringify(data)};

    .container
        script(src="https://code.highcharts.com/highcharts.js")
        div
            +vxcontracttable(data)

