mixin histogramChart(selector, values, bins, title, latest)
    script.
        Highcharts.chart(document.querySelector('#{selector}'), {
            chart: {
                type: 'column'
            },
            title: {
                text: '#{title}'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: #{bins},
                labels: {
                    enabled: false
                }
            },
            yAxis: {
                title: {
                    text: ''
                }
            },
            legend:{ enabled:false },
            plotOptions: {
                column: {
                    pointPadding: 0,
                    borderWidth: 0,
                    groupPadding: 0,
                    shadow: false
                }
            },
            series: [{
                data: #{values}
            }]
        });
