
mixin vx30roll(latest)
    table(class="table table-striped")
        tr 
            th VX1 Contract
            th VX2 Contract
            th VX1 Weight 
            th VX2 Weight

        tr 
            td 
                .vxtd #{latest.ticker_vx1}
            td 
                .vxtd #{latest.ticker_vx2}
            td 
                .vxtd #{latest.constrained_weight_vx1}
            td 
                .vxtd #{latest.constrained_weight_vx2}
